Repository qctrl/open-controls: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  require_serial: true
  language: system
  args:
  - --filter-files

mypy:
  name: mypy
  entry: poetry run mypy
  require_serial: true
  language: system

pylint:
  entry: poetry run pylint --rcfile=.pylintrc
  name: pylint
  language: system

lock
  poetry.lock
Due: none

fix: New Sphinx theme
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

fix: Add new Sphinx theme version (#285)
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

ci: Update CODEOWNERS
  CODEOWNERS
Due: none

chore: Update licensing comments
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

chore: Update licensing comments (#288)
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

feat!: Export controls and sequences as dict of arrays
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
Due: black, isort, mypy, pylint

tweak and rerun notebooks
  examples/creating-a-driven-control.ipynb
  examples/creating-a-dynamical-decoupling-sequence.ipynb
Due: none

feat!: Export controls and sequences as dict of arrays (#289)
  examples/creating-a-driven-control.ipynb
  examples/creating-a-dynamical-decoupling-sequence.ipynb
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
Due: black, isort, mypy, pylint

drop 3.8
  .github/README.md
  .github/workflows/on-push.yaml
  poetry.lock
  pyproject.toml
Due: none

black
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Due: black, isort, mypy, pylint

update
  .github/workflows/on-pull-request.yaml
  .pylintrc
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Due: black, isort, mypy, pylint

README
  .github/README.md
Due: none

t
  .github/README.md
Due: none

build!: Drop support of 3.8 (#290)
  .github/README.md
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .pylintrc
  poetry.lock
  pyproject.toml
  qctrlopencontrols/driven_controls/driven_control.py
Due: black, isort, mypy, pylint

chore: Bump version to 11.0.0
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

ci: Update .github/workflows/check-pr-format.yaml
  .github/workflows/check-pr-format.yaml
Due: none

ci: Update .github/workflows/check-stale.yaml
  .github/workflows/check-stale.yaml
Due: none

repoetry
  poetry.lock
Due: none

build: Bump idna
  poetry.lock
Due: none

poetry update --lock
  poetry.lock
Due: none

v4
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Upgrade actions that use EOL Node v16
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Update action to v4 (#295)
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

docs: Add docs markdown builds
  .github/workflows/on-release.yaml
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

docs: Fix docs index template
  docs/index.rst
Due: none

build: Correct poetry lock file
  poetry.lock
Due: none

docs: Add docs markdown builds (#297)
  .github/workflows/on-release.yaml
  docs/conf.py
  docs/index.rst
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

ci: Remove sphinx theme deployments
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Remove sphinx theme deployments (#299)
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Remove sphinx website builds
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

build: Remove qctrl-sphinx-theme
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

build: Remove qctrl-sphinx-theme (#301)
  docs/conf.py
  poetry.lock
  pyproject.toml
Due: black, isort, pylint

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: docs/conf.py
  pylint: any of: \.py$, but not: .*(venv|\.conf\.py)
