Repository qctrl/open-controls: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, mypy, pylint

black:
  name: black
  entry: poetry run black
  language: system
  require_serial: true

isort:
  name: isort
  entry: poetry run isort
  require_serial: true
  language: system
  args:
  - --filter-files

mypy:
  name: mypy
  entry: poetry run mypy
  require_serial: true
  language: system

pylint:
  entry: poetry run pylint --rcfile=.pylintrc
  name: pylint
  language: system

chore: Bump version to 12.0.0
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

ci: Add docker build push docker workflow (#318)
  .github/workflows/on-pull-request.yaml
Due: none

ci: Remove docker run commands and use container images in jobs instead
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Add safe.directory git config
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

revert: Add docker run command due to unsupported workflows
  .github/workflows/on-pull-request.yaml
Due: none

revert: Add docker run command due to unsupported workflows (#320)
  .github/workflows/on-pull-request.yaml
Due: none

ci: Add github inject env values
  .github/workflows/on-push.yaml
Due: none

ci: Remove docker run commands and use container images in jobs instead (#321)
  .github/workflows/on-pull-request.yaml
  .github/workflows/on-push.yaml
  .github/workflows/on-release.yaml
Due: none

ci: Update CODEOWNERS
  CODEOWNERS
Due: none

chore: replace black, isort and pylint with ruff
  .github/README.md
  .pre-commit-config.yaml
  .pylintrc
  docs/conf.py
  examples/creating-a-driven-control.ipynb
  examples/creating-a-dynamical-decoupling-sequence.ipynb
  poetry.lock
  pyproject.toml
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/__init__.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

fix ruff issues
  docs/conf.py
  pyproject.toml
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
Due: black, isort, mypy, pylint

fix example path operation
  pyproject.toml
Due: none

remove pylint comment
  docs/conf.py
Due: black, isort, pylint

chore: Replace pylint, black and isort with ruff (#323)
  .github/README.md
  .pre-commit-config.yaml
  .pylintrc
  docs/conf.py
  examples/creating-a-driven-control.ipynb
  examples/creating-a-dynamical-decoupling-sequence.ipynb
  poetry.lock
  pyproject.toml
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/__init__.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

bump
  poetry.lock
Due: none

chore: Update licensing comments
  tests/__init__.py
Due: black, isort, mypy, pylint

Update tests/__init__.py
  tests/__init__.py
Due: black, isort, mypy, pylint

chore: Fix licensing message
  tests/__init__.py
Due: black, isort, mypy, pylint

ci: Add Q-CTRL Robot and Email for Git commands
  .github/workflows/on-push.yaml
Due: none

chore: Bump version to 12.0.1
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

chore: Fix licensing message (#325)
  tests/__init__.py
Due: black, isort, mypy, pylint

ci: Add Q-CTRL Robot and Email for Git commands (#326)
  .github/workflows/on-push.yaml
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

ci: Add Q-CTRL Robot and Email and GitHub Inject ENVs
  .github/workflows/on-release.yaml
Due: none

chore: Bump version to 12.0.2
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

ci: Add Q-CTRL Robot and Email for Git commands (#327)
  .github/workflows/on-release.yaml
  pyproject.toml
  qctrlopencontrols/__init__.py
Due: black, isort, mypy, pylint

update
  poetry.lock
Due: none

lock
  poetry.lock
Due: none

docs: correct spelling of offsets
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
Due: black, isort, mypy, pylint

chore: Update licensing comments
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/__init__.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

chore: Update licensing comments (#333)
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/constants.py
  qctrlopencontrols/driven_controls/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/driven_controls/predefined.py
  qctrlopencontrols/dynamic_decoupling_sequences/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/dynamic_decoupling_sequence.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  qctrlopencontrols/exceptions.py
  qctrlopencontrols/utils.py
  tests/__init__.py
  tests/test_driven_controls.py
  tests/test_dynamical_decoupling.py
  tests/test_predefined_driven_controls.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

feat: add platonic universal dynamic decoupling sequence for qudits
  qctrlopencontrols/__init__.py
  qctrlopencontrols/dynamic_decoupling_sequences/predefined.py
  tests/test_predefined_dynamical_decoupling.py
Due: black, isort, mypy, pylint

Update poetry.lock
  poetry.lock
Due: none

remove 3.9 related code
  .github/README.md
  .github/workflows/on-pull-request.yaml
  docs/conf.py
  qctrlopencontrols/__init__.py
  qctrlopencontrols/driven_controls/driven_control.py
  qctrlopencontrols/utils.py
  tests/test_dynamical_decoupling.py
Due: black, isort, mypy, pylint

refactor: Update to use reusable-workflow housekeeping
  .github/workflows/on-push.yaml
Due: none

add name to step
  .github/workflows/on-push.yaml
Due: none

target test branch
  .github/workflows/on-push.yaml
Due: none

ci: Update .github/workflows/check-pr-format.yaml
  .github/workflows/check-pr-format.yaml
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  mypy: any of: \.py$, but not: docs/conf.py
  pylint: any of: \.py$, but not: .*(venv|\.conf\.py)
